@font-face	{
	font-family:	Raleway-Medium;
	src:	url(../fonts/Raleway-Medium.ttf);
}

@font-face	{
	font-family:	CharlemagneStd-Bold;
	src:	url(../fonts/CharlemagneBold.otf);
}

@font-face	{
	font-family:	Triforce;
	font-weight:	Normal;
	src:	url(../fonts/Triforce.ttf);
}

.nav_text{
	font-family:	CharlemagneStd-Bold;
	padding: 30px;
	width: 63%;
	font-size: 25px;
	text-align: left;
}